/* history */
.history {
	width: 100%;
}

/* streaks */
.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
