/* container */
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.noteGroupsWrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-bottom: 80px;
}

/* note list */
.noteList {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.monthLabelWrapper {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	padding-bottom: 8px;
	color: var(--color-secondary);
	pointer-events: none;
}

.monthLabel {
	padding: 8px 12px;
	margin: 0 auto;
	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-tertiary);
	box-shadow: 0 0 10px color-mix(in srgb, var(--bg) 50%, transparent);
}