/* wrapper */
.wrapper {
	display: flex;
	gap: 2px;
}

.wrapper.completed {
	animation: scale-in 0.2s ease-in-out;
}

.wrapper.updated {
	animation: scale-out 0.2s ease-in-out;
}

/* button */
.button {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
}

/* animation */
@keyframes scale-in {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes scale-out {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}