.modal {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: var(--bg);
}

/* content */
.content {
	flex: 1;
	padding-inline: var(--app-inline-padding);
	padding-top: var(--header-height);
	padding-bottom: var(--app-bottom-padding);
	overflow-y: auto;
}

@media screen and (min-width: 576px) {
	.modal {
		width: var(--app-width);
		margin: 0 auto;
	}
}
