.mainPage {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	outline-offset: -2px;
}

.content {
	position: relative;
	flex: 1;
	padding-inline: var(--app-inline-padding);
	padding-top: var(--header-height);
	padding-bottom: var(--app-bottom-padding);
	overflow-y: auto;
}