.iconCategoryList {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.iconCategoryName {
	display: block;
	padding-left: 16px;
	margin-bottom: 10px;
	color: var(--color-secondary);
}

/* iconList */
.iconList {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 32px;
	gap: 8px;
	justify-content: space-between;
}

/* label */
.iconLabel {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-tertiary);

	/* Light box-shadow visible only on light theme */
	box-shadow: var(--shadow-md);
}

.iconLabel:has(:checked) {
	color: var(--color-primary);
	box-shadow: inset 0 0 0 2px var(--color-primary);
	opacity: 1 !important;
}

.iconLabel:has(input:focus-visible) {
	outline: 2px solid var(--accent-color);
	outline-offset: -2px;
}

/* input */
.iconList input {
	position: absolute;
	appearance: none;
	opacity: 0;
}

/* icon */
.iconList svg {
	width: 20px;
	height: 20px;
	color: gray;
}

.iconList input:checked ~ svg {
	color: inherit;
}