/* note */
.note {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	padding: 16px;
	padding-bottom: 12px;
	overflow: hidden;
	font-size: 1rem;
	font-weight: 400;
    overflow-wrap: break-word;
	white-space: pre-wrap;
	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-secondary);
}

.note.isSelected {
	background-color: var(--bg-color-secondary);
}

/* description */
.description {
	display: flex;
	gap: 16px;
	align-items: center;
	color: gray;
}

/* date */
.date {
	display: flex;
	gap: 0.4rem;
	align-items: center;
}

.selectBadge {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px;
	color: var(--color-primary);
	background-color: var(--accent-color);
	border-radius: 50%;
	box-shadow: 0 0 4px color-mix(in srgb, var(--bg) 50%, transparent);
}

.selectBadge svg {
	width: 12px;
	height: 12px;
}