.form {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-bottom: calc(16px + env(safe-area-inset-bottom, 0) + 56px + 48px)
}

.actions {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: flex;
	gap: 8px;
	max-width: var(--app-width);
	padding: 0 var(--app-inline-padding);
	padding-top: 16px;
	padding-bottom: calc(16px + env(safe-area-max-inset-bottom, 0px));
	margin: 0 auto;
	background-image: linear-gradient(transparent, var(--bg));
}

.actions button {
	width: auto;
	height: 56px;
}

.submitButton {
	flex: 1;
	width: 100%;
}

.submitButton:disabled {
	color: var(--color-secondary);
	background-color: var(--bg-color-tertiary);
	opacity: 1;
}